/* 
FONT
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* 
RESETTING
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
VARIABLES
*/
:root {
  --accent-color-1: hsl(28, 100%, 79%);
  --accent-color-2: hsl(329, 36%, 59%);
  --accent-color-3: hsl(229, 100%, 67%);
  --pure-black: hsl(0, 0%, 0%);
  --light-grey: hsl(0, 0%, 87%);
  --light-grey-2: hsl(0, 0%, 96%);
  --pure-white: hsl(0, 0%, 100%);
  --ff-primary: 'DM Sans', sans-serif;
  --fs-400: 400;
  --fs-500: 500;
  --fs-700: 700;
  --transition: all 0.3s linear;
  --border-radius: 10px;
}

/* GLOBAL STYLES */
body {
  font-family: var(--ff-primary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not('.logo') {
  width: 100%;
  display: block;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* BTN */
.btn {
  display: inline-block;
  padding: 0.375rem 0.775rem;
  text-transform: uppercase;
  color: var(--pure-black);
  border: transparent;
  cursor: pointer;
  transition: var(-transition);
  font-weight: 400;
  border-radius: 10px;
  letter-spacing: 0.1rem;
}
